/* spaces special margins */
.text-centre{
    text-align: centre;
}

#main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(40, 34, 34);
    color: white;
}
#current-weather{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 154, 219);
}
img{
    width: 250px;
    height: 250px;
}
#current_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#forecast{
    flex: 0.7;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}


